<header>
    <div class="primary-color">
        <nav class="container">
                <div class="logo">
                    <a href="index.html">
                        <img src="/assets/images/logo-white.png" alt="logo">
                    </a>
                </div>
                <ul class="navbar">
                    <li class="navbar-item"><a class="navbar_py_25 navbar_px_32" href="#">系列鏡框</a></li>
                    <li class="navbar-item"><a class="navbar_py_25 navbar_px_32" href="#">門市據點</a></li>
                    <li class="navbar-item"><a class="navbar_py_25 navbar_px_32" href="#">部落格</a></li>
                    <li class="navbar-item"><a class="navbar_py_25 navbar_px_32 navbar_pe_0" href="faq.html">常見問題</a></li>
                </ul>
        </nav>
    </div>
</header>