<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Glasses shop</title>
</head>

<body>

  <%- include('./layout/header'); -%>

    <main>

      <section class="banner">
        <div class="container banner-item">
          <h2 class="banner-subtitle">Promise-Desert 2020 早春系列</h2>
          <h1 class="banner-title">看得清，才能看得遠</h1>
          <a class="banner-link" href="#">立即購買</a>
        </div>
      </section>

      <section class="card-a-color">
        <div class="card-a container">
          <h3 class="card-a-title">用專業的心，做專業的事</h3>
          <ul class="card-a-list">
            <li class="card-a-itme">
              <div class="card-a-item-desc">
                <img src="../assets/images/home-section2-1.png" alt="單一價格">
                <h4>單一價格</h4>
              </div>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </li>
            <li class="card-a-itme">
              <div class="card-a-item-desc">
                <img src="../assets/images/home-section2-2.png" alt="20 分鐘即可取件">
                <h4>20 分鐘即可取件</h4>
              </div>
              <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
            </li>
            <li class="card-a-itme">
              <div class="card-a-item-desc">
                <img src="../assets/images/home-section2-3.png" alt="安心售後服務">
                <h4>安心售後服務</h4>
              </div>
              <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </li>
            <li class="card-a-itme">
              <div class="card-a-item-desc">
                <img src="../assets/images/home-sectioin2-4.png" alt="關於鏡片">
                <h4>關於鏡片</h4>
              </div>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </li>
          </ul>
        </div>
      </section>

      <section>
        <div class="card-b container">
          <h3>經典系列鏡框</h3>
          <ul class="card-b-list">
            <li class="card-b-item">
              <img src="../assets/images/home-section3-1.png" alt="OPTICAL">
              <a class="card-b-item-title" href="#">
                OPTICAL
              </a>
            </li>
            <li class="card-b-item">
              <img src="../assets/images/home-section3-2.png" alt="SUNGLASSES">
              <a class="card-b-item-title" href="#">
                SUNGLASSES
              </a>
            </li>
            <li class="card-b-item">
              <img src="../assets/images/home-section3-3.png" alt="FUNCTIONAL">
              <a class="card-b-item-title" href="#">
                FUNCTIONAL
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="card-c-bg">
        <div class="card-c container">
          <h3>聯名設計鏡框</h3>
          <ul class="card-c-list">
            <li class="card-c-item">
              <picture>
                <source media="(max-width: 767px)" srcset="../assets/images/home-section4-1-sm.png">
                <img src="../assets/images/home-section4-1.png" alt="glasses">
              </picture>
              <a href="#">
                <h4>DOUBLE A+</h4>
              </a>
            </li>
            <li class="card-c-item">
              <picture>
                <source media="(max-width: 767px)" srcset="../assets/images/home-section4-2-sm.png">
                <img src="../assets/images/home-section4-2.png" alt="glasses">
              </picture>
              <a href="#">
                <h4>YOUTH</h4>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="card-d container">
        <h3>顧客推薦</h3>
        <ul class="card-d-list">
          <li class="card-d-item">
            <img src="../assets/images/home-section5-1.png" alt="Customer photos">
            <div class="card-d-item-desc">
              <p class="card-d-item-title">Jessy</p>
              <p>眼鏡品質優良，下次還會想來這邊購買！</p>
            </div>
            <p class="card-d-item-date">2021/06/20</p>
          </li>
          <li class="card-d-item">
            <img src="../assets/images/home-section5-2.png" alt="Customer photos">
            <div class="card-d-item-desc">
              <p class="card-d-item-title">凱倫</p>
              <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
            </div>
            <p class="card-d-item-date">2021/04/18</p>
          </li>
          <li class="card-d-item">
            <img src="../assets/images/home-section5-3.png" alt="Customer photos">
            <div class="card-d-item-desc">
              <p class="card-d-item-title">悠悠</p>
              <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
            </div>
            <p class="card-d-item-date">2020/12/25</p>
          </li>
          <li class="card-d-item">
            <img src="../assets/images/home-section5-4.png" alt="Customer photos">
            <div class="card-d-item-desc">
              <p class="card-d-item-title">Kyuan</p>
              <p>服務很好，品質沒有任何問題，非常喜歡。</p>
            </div>
            <p class="card-d-item-date">2020/10/31</p>
          </li>
        </ul>
      </section>

      <section class="contact">
        <div class="container">
          <div class="contact-wrapper">
            <h3>聯絡我們</h3>
            <p>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
            <form class="contact-form">
              <ul>
                <li>
                  <label for="name">姓名</label>
                  <input type="text" id="name" placeholder="陳小明" class="contact-form-input">
                </li>
                <li>
                  <label for="phoneNumber">連絡電話</label>
                  <input type="tel" id="phoneNumber" placeholder="0912-345-678" class="contact-form-input">
                </li>
                <li>
                  <label for="email">電子郵件</label>
                  <input type="email" id="email" placeholder="example@email.com" class="contact-form-input">
                </li>
                <li>
                  <label for="comment">意見反應</label>
                  <textarea id="comment" placeholder="請輸入您的意見" rows="6" class="contact-form-input"></textarea>
                </li>
                <li class="contact-checkbox">
                  <input type="checkbox" id="agree" style="width: 16px;height: 16px">
                  <label for="agree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                </li>
              </ul>
              <button type="submit" class="contact-btn-desc">確認送出</button>
            </form>
          </div>
        </div>
      </section>

    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>